<html>
    <head>
        <title>Emma's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Emma's Blog</a></h1>
        </div>

        <div>
            <p>published: 10.03.2016, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post</p>
        </div>

        <div>
            <p>published: 10.03.2016, 12:15</p>
            <h2><a href="">My second post</a></h2>
            <p>This is my second post. Hurrah!</p>
            <p>Here is another paragraph</p>
            <p><strong>OOOOOOOH</strong>
        </div>
    </body>
</html>